<header class="section-header">
  <section class="header-main shadow-sm bg-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-1">
          <a href="assets/home.html" class="brand-wrap mb-0">
            <img alt="#" class="img-fluid" src="assets/img/logo_web.png">
          </a>

        </div>
        <div class="col-3 d-flex align-items-center m-none">
          <div class="dropdown me-3">
            <a class="text-dark dropdown-toggle d-flex align-items-center py-3" href="#" id="navbarDropdown"
               role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div><i class="feather-map-pin me-2 bg-light rounded-pill p-2 icofont-size"></i></div>
              <div>
                <p class="text-muted mb-0 small">Select Location</p>
                Jawaddi Ludhiana...
              </div>
            </a>
          </div>
        </div>

        <div class="col-8">
          <div class="d-flex align-items-center justify-content-end pe-5">

            <a href="/" class="widget-header me-4 text-dark">
              <div class="icon d-flex align-items-center">
                <i class="feather-search h6 me-2 mb-0"></i> <span>Search</span>
              </div>
            </a>

            <a href="/" class="widget-header me-4 text-white btn bg-primary m-none">
              <div class="icon d-flex align-items-center">
                <i class="feather-disc h6 me-2 mb-0"></i> <span>Home</span>
              </div>
            </a>

            <a *ngIf="checkUser?.role == 'user'" routerLink="user/order" class="widget-header me-4 text-white btn bg-primary m-none">
              <div class="icon d-flex align-items-center">
                <i class="feather-disc h6 me-2 mb-0"></i> <span>Order</span>
              </div>
            </a>

            <a *ngIf="checkUser?.role == 'admin'" routerLink="home/admin" class="widget-header me-4 text-white btn bg-primary m-none">
              <div class="icon d-flex align-items-center">
                <i class="feather-disc h6 me-2 mb-0"></i> <span>Sản phẩm</span>
              </div>
            </a>

            <a *ngIf="checkUser == null" href="#" (click)="openCheckMailModal()"
               class="widget-header me-4 text-dark m-none">
              <div class="icon d-flex align-items-center">
                <i class="feather-user-plus h6 me-2 mb-0"></i> <span>Đăng ký</span>
              </div>
            </a>

            <a *ngIf="checkUser == null" href="#" (click)="openLoginModal()"
               class="widget-header me-4 text-dark m-none">
              <div class="icon d-flex align-items-center">
                <i class="feather-user h6 me-2 mb-0"></i> <span>Đăng nhập</span>
              </div>
            </a>

            <div class="dropdown me-4 m-none" *ngIf="checkUser != null">
              <a href="#" class="dropdown-toggle text-dark py-3 d-block" id="dropdownMenuButton"
                 data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img alt="#" src="{{checkUser.profile?.avatar}}"
                     class="img-fluid rounded-circle header-user me-2 header-user avt">
                Hi {{checkUser.profile?.last_name}}
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/profile">Cá nhân</a>
                <a class="dropdown-item" routerLink="/check/mail/password">Đổi mật khẩu</a>
                <a class="dropdown-item" href="" (click)="logout()">Logout</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</header>

<ng-template #LoginModal>
  <div class="modal-header">
    <div class="px-5 col-10 mx-auto">
      <h2 class="text-dark my-0">Đăng nhập</h2>
      <p class="text-50">Đăng nhập để tếp tục</p>

      <form [formGroup]="formLogin" (ngSubmit)="login()">
        <div class="form-group">
          <label class="text-dark pb-1">Email:</label>
          <input type="email" placeholder="Enter Email" formControlName="email" class="form-control py-1">
        </div>
        <br>
        <div class="form-group">
          <label class="text-dark pb-1">Mật khẩu:</label>
          <input type="password" placeholder="Enter Password" formControlName="password" class="form-control py-1">
        </div>
        <br>
        <button class="btn btn-primary btn-lg w-100" type="submit">Đăng nhập</button>
      </form>

      <br>
      <a routerLink="/check/mail/forgot/password" class="text-decoration-none">
        <p class="text-center">Quên mật khẩu?</p>
      </a>

      <div class="d-flex align-items-center justify-content-center">
        <a routerLink="/check/mail">
          <p class="text-center m-0">Chưa có tài khoản? Đăng ký ngay!</p>
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CheckMailModal>
  <div class="modal-header">
    <div class="px-5 col-10 mx-auto">
      <h2 class="text-dark my-0">Đăng ký</h2>
      <p class="text-50">Nhập Email để tiếp tục:</p>

      <form class="mt-5 mb-4" [formGroup]="formEmail" (ngSubmit)="checkEmail()">
        <div class="form-group">
          <label class="text-dark pb-1">Email</label>
          <input type="email" placeholder="Enter Email" class="form-control py-1" formControlName="email">
        </div>
        <br>
        <button class="btn btn-primary btn-lg w-100" type="submit">Đồng ý</button>
      </form>

      <div class="d-flex align-items-center justify-content-center">
        <a routerLink="/sign/in">
          <p class="text-center m-0">Đã có tài khoản? Đăng nhập tại đây</p>
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CheckOtpModal>
  <div class="modal-header">
    <div class="px-5 col-10 mx-auto mb-4">
      <h2 class="mb-3">Xác nhận gmail</h2>
      <h6 class="text-black-50">Nhập mã OTP tại đây</h6>

      <form [formGroup]="formOtp" (ngSubmit)="checkOtp()">
        <div class="row my-5 mx-0 otp">
          <div class="col pe-1 ps-0">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp1"
                   class="form-control form-control-lg">
          </div>
          <div class="col px-2">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp2"
                   class="form-control form-control-lg">
          </div>
          <div class="col px-2">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp3"
                   class="form-control form-control-lg">
          </div>
          <div class="col ps-1 pe-0">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp4"
                   class="form-control form-control-lg">
          </div>
        </div>
        <button type="button" class="btn btn-lg btn-secondary btn-otp w-70" [disabled]="disabled"
                (click)="sendOtp(); waitOtp()">{{buttonText}}</button>
        <br>
        <button class="btn btn-lg btn-primary w-100" type="submit">Xác nhận</button>
      </form>

    </div>
  </div>
</ng-template>

<ng-template #SignUpModal>
  <div class="modal-header">
    <div class="px-5 col-10 mx-auto">
      <h2 class="text-dark my-0">Đăng ký</h2>
      <p class="text-50">Nhập mật khẩu</p>

      <form class="mt-5 mb-4" [formGroup]="formPassword" (ngSubmit)="checkPassword()">
        <div class="form-group">
          <label class="text-dark pb-1">Mật khẩu: </label>
          <input type="password" placeholder="Enter password" class="form-control py-1" formControlName="password">
        </div>
        <br>
        <div class="form-group">
          <label class="text-dark pb-1">Nhập lại mật khẩu: </label>
          <input type="password" placeholder="Enter password" class="form-control py-1"
                 formControlName="confirmPassword">
        </div>
        <br>
        <button class="btn btn-primary btn-lg w-100" type="submit">Đồng ý</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #falseModal>
  <div class="modal-header false-modal">
    <h4 class="modal-title">{{messageModal}}</h4>
  </div>
</ng-template>
