<body>
<div class="login-page vh-100">

  <video loop autoplay muted id="vid">
    <source src="../../../assets/img/bg.mp4" type="video/mp4">
    <source src="../../../assets/img/bg.mp4" type="video/ogg">
    Your browser does not support the video tag.
  </video>

  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="px-5 col-md-6 ms-auto">
      <div class="px-5 col-10 mx-auto">
        <h2 class="text-dark my-0">Đăng ký</h2>
        <p class="text-50">Nhập mật khẩu</p>

        <form class="mt-5 mb-4" [formGroup]="formPassword" (ngSubmit)="checkPassword()">
          <div class="form-group">
            <label class="text-dark pb-1">Mật khẩu: </label>
            <input type="password" placeholder="Enter password" class="form-control py-1" formControlName="password">
          </div>
          <div class="form-group">
            <label class="text-dark pb-1">Nhập lại mật khẩu: </label>
            <input type="password" placeholder="Enter password" class="form-control py-1" formControlName="confirmPassword">
          </div>
          <button class="btn btn-primary btn-lg w-100" type="submit">Đồng ý</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #falsePassword>
  <div class="modal-header">
    <h4 class="modal-title">Mật khẩu nhập lại không chính xác</h4>
  </div>
    <div class="modal-body">
      <p>Vui lòng nhập lại mật khẩu</p>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="hideSuccessModal()">OK</button>
  </div>
</ng-template>


</body>
