
<div class="osahan-profile">
  <div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
      <a class="toggle togglew toggle-2" href="#"><span></span></a>
      <h4 class="fw-bold m-0 text-white">Profile</h4>
    </div>
  </div>

  <div class="container position-relative">
    <div class="py-5 osahan-profile row">
      <div class="col-md-4 mb-3">
        <div class="bg-white rounded shadow-sm sticky_sidebar overflow-hidden">
          <a href="" class="">
            <div class="d-flex align-items-center p-3">
              <div class="left me-3" style="text-align: center">
                <img [src]="avatar" class="rounded-circle avt">
              </div>
            </div>
          </a>
          <div class="osahan-credits d-flex align-items-center p-3 bg-light">
            <div class="form-group">
              <label class="text-dark pb-1">Chọn avatar:</label>
              <input type="file" #upLoadFile (change)="upAvatarUser()" class="form-control py-1">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-3">
        <div class="rounded shadow-sm p-4 bg-white">
          <h5 class="mb-4">My account</h5>
          <div id="edit_profile">
            <div>

              <form [formGroup]="formProfile" (ngSubmit)="saveProfile()">
                  <input type="text" hidden class="form-control" formControlName="id">
                <div class="form-group mb-3">
                  <label class="pb-1">Số dư: </label>
                  <input type="text" readonly class="form-control" formControlName="balance">
                  <button class="btn btn-success" type="button" (click)="openDepositModal()">Nạp thêm +</button>
                </div>
                <div class="form-group mb-3">
                  <label class="pb-1">Họ: </label>
                  <input type="text" class="form-control" formControlName="first_name">
                </div>
                <div class="form-group mb-3">
                  <label class="pb-1">Tên: </label>
                  <input type="text" class="form-control" formControlName="last_name">
                </div>
                <div class="form-group mb-3">
                  <label class="pb-1">Tuổi:</label>
                  <input type="number" class="form-control" formControlName="age">
                </div>
                <div class="form-group mb-3">
                  <label class="pb-1">Giới tính:</label>
                  <select formControlName="gender" class="form-select">
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                    <option value="other">Khác</option>
                  </select>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary w-100">Lưu thay đổi</button>
                </div>
              </form>

            </div>
            <div class="additional">
              <div class="change_password my-3">
                <a routerLink="/check/mail/password"
                   class="p-3 border rounded bg-white btn d-flex align-items-center">Đổi mật khẩu
                  <i class="feather-arrow-right ms-auto"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #CheckOtpModal>
  <div class="modal-header">
    <div class="px-5 col-10 mx-auto mb-4">
      <h2 class="mb-3">Xác nhận gmail</h2>
      <h6 class="text-black-50">Nhập mã OTP tại đây</h6>

      <form [formGroup]="formOtp" (ngSubmit)="checkOtp()">
        <div class="row my-5 mx-0 otp">
          <div class="col pe-1 ps-0">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp1"
                   class="form-control form-control-lg">
          </div>
          <div class="col px-2">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp2"
                   class="form-control form-control-lg">
          </div>
          <div class="col px-2">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp3"
                   class="form-control form-control-lg">
          </div>
          <div class="col ps-1 pe-0">
            <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp4"
                   class="form-control form-control-lg">
          </div>
        </div>
        <button type="button" class="btn btn-lg btn-secondary btn-otp w-70" [disabled]="disabled"
                (click)="sendOtp(); waitOtp()">{{buttonText}}</button>
        <br>
        <button class="btn btn-lg btn-primary w-100" type="submit">Xác nhận</button>
      </form>

    </div>
  </div>
</ng-template>

<ng-template #depositModal>
  <div class="modal-header">
    <div class="px-5 col-10 mx-auto">
      <h2 class="text-dark my-0">Nạp tiền</h2>
      <p class="text-50">Nhập số tiền muốn nạp:</p>

      <form class="mt-5 mb-4" [formGroup]="formDeposit" (ngSubmit)="getDeposit()">
        <div class="form-group">
          <label class="text-dark pb-1">Nhập: </label>
          <input type="number" placeholder="mức giá" class="form-control py-1" formControlName="balance">
        </div>
        <br>
        <button class="btn btn-primary btn-lg w-100" type="submit">Đồng ý</button>
      </form>

    </div>
  </div>
</ng-template>

<ng-template #successModal>
  <div class="modal-header">
    <h4 class="modal-title">{{messageModal}}</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="hiddenModal()" >Đóng!</button>
  </div>
</ng-template>

<ng-template #falseModal>
  <div class="modal-header">
    <h4 class="modal-title">{{messageModal}}</h4>
  </div>
</ng-template>
