
<div class="content-body">
  <!-- row -->
  <div class="container">

    <form [formGroup]="formProfile" (ngSubmit)="saveProfile()">
      <div class="row">
        <div class="col-xl-4">
          <div class="card h-auto">
            <div class="card-body">
              <div class="profile text-center">
                <h6>ID: {{profile?.id}}</h6>
                <div class="setting-img mb-4">
                  <div class="avatar-upload ">
                    <div class="avatar-preview">
                      <img [src]="avatar" class="avt">
                    </div>
                  </div>
                </div>
                <div>
                  <h6>{{profile?.first_name + ' ' + profile?.last_name}}</h6>
                  <p>{{profile?.gender}}</p>
                </div>
                <div class="change-btn d-flex align-items-center justify-content-center mt-3">
                  <input type='file' class="form-control ms-0" id="imageUpload" #upLoadFile (change)="upAvatarUser()"/>
                  <label for="imageUpload" class="dlab-upload">Sửa Avatar</label>
                  <a class="btn remove-img ms-2">Xóa ảnh</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="bacic-info mb-3">
                <h4 class="mb-3">Thông tin</h4>
                <div class="row">
                  <div class="col-xl-6">
                    <label class="form-label">Họ</label>
                    <input type="text" class="form-control mb-3" formControlName="first_name">
                  </div>
                  <div class="col-xl-6">
                    <label class="form-label">Tên</label>
                    <input type="text" class="form-control mb-3" formControlName="last_name">
                  </div>
                  <div class="col-xl-6">
                    <label class="form-label">Tuổi</label>
                    <input type="text" class="form-control mb-3" formControlName="age">
                  </div>
                  <div class="col-xl-6">
                    <label class="form-label">Giới tính</label>
                    <select formControlName="gender" class="form-select">
                      <option value="male">Nam</option>
                      <option value="female">Nữ</option>
                      <option value="other">Khác</option>
                    </select>
                  </div>
                  <div class="col-xl-12">
                    <label class="form-label">Email Address</label>
                    <input type="email" readonly class="form-control mb-3" value="{{userDto?.email}}">
                  </div>
                  <div class="col-xl-4">
<!--                    <label class="form-label">Balance</label>-->
                    <br>
                    <input class="form-control" readonly value="{{profile?.balance}}" type="{{ showBalance ? 'text' : 'password' }}" [(ngModel)]="password">
                    <br>
                    <button class="badge badge-outline-primary" (click)="togglePasswordVisibility()" type="button">
                      show</button>
                  </div>
                  <div class="col-xl-3">
                    <br>
                    <button type="button" class="btn  btn-primary" routerLink="/deposit"><span
                      class="btn-icon-start text-primary"><i class="fa fa-plus color-info"></i>
                    </span>Nạp</button>
                  </div>
                  <div class="col-xl-5">
                    <br>
                    <button class="btn btn-outline-primary float-end ms-3">Cancel</button>
                    <button class="btn btn-primary float-end">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<ng-template #successModal>
  <div class="modal-header">
    <h4 class="modal-title">{{messageModal}}</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="hiddenModal()">Đóng!</button>
  </div>
</ng-template>

<ng-template #falseModal>
  <div class="modal-header">
    <h4 class="modal-title">{{messageModal}}</h4>
  </div>
</ng-template>
