.avt {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
  margin-left: 5%;
}

.btn-otp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
