
<app-nav></app-nav>

<div class="osahan-profile">
  <div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
      <a class="toggle togglew toggle-2" href="#"><span></span></a>
      <h4 class="fw-bold m-0 text-white">Profile</h4>
    </div>
  </div>

  <div class="container position-relative">
    <div class="py-5 osahan-profile row">
      <div class="col-md-4 mb-3">
        <div class="bg-white rounded shadow-sm sticky_sidebar overflow-hidden">
          <a href="profile.html" class="">
            <div class="d-flex align-items-center p-3">
              <div class="left me-3" style="text-align: center">
                <img [src]="avatar" class="rounded-circle avt">
              </div>
            </div>
          </a>
          <div class="osahan-credits d-flex align-items-center p-3 bg-light">
            <div class="form-group">
              <label class="text-dark pb-1">Chọn avatar:</label>
              <input type="file" #upLoadFile (change)="upAvatarUser()" class="form-control py-1">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-3">
        <div class="rounded shadow-sm p-4 bg-white">
          <h5 class="mb-4">My account</h5>
          <div id="edit_profile">
            <div>

              <form [formGroup]="formProfile" (ngSubmit)="saveProfile()">
                <div class="form-group mb-3">
                  <label class="pb-1">Họ: </label>
                  <input type="text" class="form-control" formControlName="first_name">
                </div>
                <div class="form-group mb-3">
                  <label class="pb-1">Tên: </label>
                  <input type="text" class="form-control" formControlName="last_name">
                </div>
                <div class="form-group mb-3">
                  <label class="pb-1">Tuổi:</label>
                  <input type="number" class="form-control" formControlName="age">
                </div>
                <div class="form-group mb-3">
                  <label class="pb-1">Giới tính:</label>
                  <input type="text" readonly class="form-control" formControlName="gender">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary w-100">Lưu thay đổi</button>
                </div>
              </form>

            </div>
            <div class="additional">
              <div class="change_password my-3">
                <a routerLink="/check/mail/password"
                   class="p-3 border rounded bg-white btn d-flex align-items-center">Đổi mật khẩu
                  <i class="feather-arrow-right ms-auto"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #successModal>
  <div class="modal-header">
    <h4 class="modal-title">Cập nhật thành công!</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="hideSuccessModal()">Đóng!</button>
  </div>
</ng-template>

<ng-template #falseModal>
  <div class="modal-header">
    <h4 class="modal-title">Cập nhật thất bại!</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="hideSuccessModal()">Đóng</button>
  </div>
</ng-template>
