.avt {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
}

.img-cate {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
}
