<div class="osahan-signup login-page">
  <video loop autoplay muted id="vid">
    <source src="../../../../assets/img/bg.mp4" type="video/mp4">
    <source src="../../../../assets/img/bg.mp4" type="video/ogg">
    Your browser does not support the video tag.
  </video>

  <div class="d-flex align-items-center justify-content-center flex-column vh-100">
    <div class="px-5 col-md-6 ms-auto">
      <div class="px-5 col-10 mx-auto mb-4">
        <h2 class="mb-3">Xác nhận gmail</h2>
        <h6 class="text-black-50">Nhập mã OTP tại đây</h6>

        <form [formGroup]="formOtp" (ngSubmit)="checkOtp()">
          <div class="row my-5 mx-0 otp">
            <div class="col pe-1 ps-0">
              <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp1"
                     class="form-control form-control-lg">
            </div>
            <div class="col px-2">
              <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp2"
                     class="form-control form-control-lg">
            </div>
            <div class="col px-2">
              <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp3"
                     class="form-control form-control-lg">
            </div>
            <div class="col ps-1 pe-0">
              <input type="text" pattern="[0-9]*" maxlength="1" formControlName="otp4"
                     class="form-control form-control-lg">
            </div>
          </div>
          <button type="button" class="btn btn-lg btn-secondary btn-otp w-70" [disabled]="disabled"
             (click)="sendOtp(); waitOtp()">{{buttonText}}</button>
          <button class="btn btn-lg btn-primary w-100" type="submit">Xác nhận</button>
        </form>

      </div>
    </div>
  </div>
</div>

<ng-template #otpModal>
  <div class="modal-header">
    <h4 class="modal-title">{{messageModal}}</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="hideSuccessModal()">OK</button>
  </div>
</ng-template>
